/* Variants */
.label {
  font: var(--label);
}
.labelBold {
  font: var(--label-bold);
}
.body {
  font: var(--body);
}
.bodyBold {
  font: var(--body-bold);
}
.subheader {
  font: var(--subheader);
}
.sectionHeader {
  font: var(--section-header);
}
.header {
  font: var(--header);
}
.monospaceBody {
  font: var(--monospace-body);
}

/* Ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Color */
.colorDefault {
  /* default: just inherit */
}
.colorSubtext {
  color: var(--subtext-color);
}
