@value colors: "../utilities/colors.module.css";
@value light-background, light-border, dark-background, dark-border from colors;

.root {
  font-size: 12px;
}

.grid {
  stroke: light-border;
}

.dark .grid {
  stroke: dark-border;
}

.dot {
  stroke: light-background;
}

.dark .dot {
  stroke: dark-background;
}
