@value colors: "../utilities/colors.module.css";
@value light-background, light-border, light-text, light-text-secondary, dark-background, dark-border, dark-text, dark-text-secondary from colors;

.root {
  font-size: 12px;
}

.grid {
  stroke: light-border;
}

.grid.dark {
  stroke: dark-border;
}

.tooltip {
  background-color: light-background;
  border: 1px solid light-border;
  border-radius: 4px;
  color: light-text;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.tooltip.dark {
  background-color: dark-background;
  border-color: dark-border;
  color: dark-text;
}

.legend {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: right;
}

.legend.left {
  justify-content: left;
}

.legend.right {
  justify-content: right;
}

.legend.center {
  justify-content: center;
}

.row {
  align-items: center;
  display: flex;
  gap: 8px;
}

.dot {
  border-radius: 100%;
  height: 8px;
  width: 8px;
}

.name {
  color: light-text-secondary;
}

.dark .name {
  color: dark-text-secondary;
}

.value {
  color: light-text;
}

.dark .value {
  color: dark-text;
}
