/* HACK: NextJS does not always load stylesheets in a stable order; this ensures that no matter
   which order these styles are loaded, this component has the lowest precedence. Thus this ensures adding a
   Tailwind class will always override this style. */
@layer {
  .root {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
  }
}
